<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HelloAR - Showcase</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="bg-black text-white px-12 antialiased">
    <script type="text/x-handlebars-template">
    </script>

    <div>
     {{> header }}
    </div>
      <div py-12>
        <h1 class="text-3xl font-Satoshi-regular">
          Choose any of the solution to experience
        </h1>
      </div>
    
  </body>
</html>
