*{
  margin: 0;
  padding: 0;
}
.main{
  
  background-image: url("2.jpg");
  background-position: center;
  background-size: cover;
  height: 109vh;
}
.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon{
  
  color:#110885;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
  padding-left: 20px;
  float: left;
  font-weight: bolder;
  padding-top: 20px;
}

.menu{
  width: 700px;
   float: right;
   height: 70px;
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 18px;
}
ul li a{
  text-decoration: none;
  color: #370574;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover{
  color: #8f0a58;
}
.content{
  width: 1200px;
  height: auto;
  margin: auto;
  color: #8f0a58;
  position: relative;
  padding-left: 20px;
}
.content .para1{
  
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
  color: #370574;
  font-size: 18px;
}

.content h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  
  margin-top: 5%;
  letter-spacing: 2px;
}

.content .btn{
  width: 160px;
  height: 40px;
  background: #ad76f5;
  border: none; 
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  /* font-weight: bold; */
}
.content .btn a{
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}
.btn:hover{
  background-color: rgb(218, 159, 208);
}
.content span{
  color: #370574;
  font-size: 60px;
}
.frm{
  width: 300px;
  height: 380px;
  background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
  position: absolute;
  top: 120px ;
  left: 900px;
  border-radius: 10px;
  padding: 25px;
}
.frm .para2{
  padding-bottom: 2px;
  font-family: sans-serif;
  color: #8f0a58;
  font-size: 15px;
}
.frm h2{
  width: 276px;
  font-family: sans-serif;
  text-align: center;
  color: #370574;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px; 
  margin: 2px;
  padding: 10px;
}
.frm input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top:30px ;
  font-family: sans-serif;
}
.bttn{
  width: 300px;
  height: 45px;
  background: #370574;
  border: none;
  /* margin-bottom: 10px; */
  margin-top: 35px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  /* font-weight: bold; */ 

}
.frm .bttn a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.frm input:focus{
  outline: none;
}
::placeholder{
  font-family: Arial;
}
.bttn:hover{
  background-color: #8f0a58;
  color: #fff;
}
.frm .signup{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  padding-top: 30px;
  color: #8f0a58
}
.frm .signup a{
  color: #370574;
  text-decoration: none;
  font-weight: 600;
}
.ftr{
  background-color: rgb(109, 84, 112);
  color: #fff;
  height: 50px;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 50px;
}
 .links{
  grid-column: 7/8;
  font-size: 15px;
  grid-template-columns: repeat(7,170px);
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  cursor: pointer;
}
.fu{
  font-size: 20px;
  color: #fff;
  padding-left: 35px;
}
.sicon{
  font-size: 25px;
  display:flexbox;
  flex-flow: column;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 500px;
  color: antiquewhite;
  
  }



  @media screen and (max-width:1200px) {
    /*Normal Screen*/
    .main{
      padding-left: 30px;
      height: 180vh;
    }
    .navbar{
        width: 100%;
        height: 75px;
    }
    .menu{
      width: 100%;

  }
    ul{
      margin-top: 25px;
      margin-left: 0px;
    }   
    ul li{
        margin-left: 60px;
        font-size: 20px;
    }
    ul li a{
      text-decoration: none;
      color: #370574;
      font-weight: bold;
      transition: 0.4s ease-in-out;
    }
    .content{
        width: 100%;
        padding-left: 60px;
        padding-top: 70px;
    }
    .content h1, .content span{
        font-size: 5vw; 
    }
    .content .para1{
        width: 90%;
        font-size: 1.5vw;
    }
    .content .btn{
      width: 160px;
  height: 40px;
  background: #ad76f5;
  border: none; 
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
    }
    .content a{
        font-size: 1.6vw
    }
    .frm{
      
      width: 300px;
      height: 380px;
      background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
      position: absolute;
      top: 720px;
      left: 90px;
      transfrm: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
  }
  .frm input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
  }
  .bttn a{
      font-size: 16px;
  }
  .frm .signup a{
      font-size: 16px;
  }
    .ftr{
      background-color: rgb(109, 84, 112);
      color: #fff;
      height: 50px;
      padding-top: 40px;
      padding-bottom: 90px;
      padding-left: 50px;
    }
    .links{
      grid-column: 7/8;
      font-size: 15px;
      grid-template-columns: repeat(7,160px);
      display: grid;
      grid-auto-flow: column;
      text-align: center;
      cursor: pointer;
    }
    .fu{
      font-size: 20px;
      color: #fff;
      padding-left: 35px;
    }
    .sicon{
      font-size: 25px;
      display:flexbox;
      flex-flow: column;
      cursor: pointer;
      padding-top: 30px;
      padding-left: 500px;
      color: antiquewhite;
      
      }
}

@media screen and (max-width:1170px) {
    /*Login-box*/
    .main{
        padding-left: 20px;
        height: 180vh;
    }
    .frm{
  
        width: 300px;
        height: 380px;
        background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
        position: absolute;
        top: 710px;
        left: 79px;
        transfrm: translate(0%,-5%);
        border-radius: 10px;
        padding: 25px;
    }
    .frm input{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom: 1px solid #ff7200;
        border-top: none;
        border-right: none;
        border-left: none;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
    }
    .bttn a{
        font-size: 16px;
    }
    .frm .signup a{
        font-size: 16px;
    }
}
@media screen and (max-width: 830px){
  /*For tablet*/
  .icon{
  
    color:#110885;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 20px;
    float: left;
    font-weight: bolder;
    padding-top: 20px;
  }
  .main{
    padding-left: 25px;
    height: 180vh;
  }
  .navbar{
      width: 100%;
      height: 75px;
  }
  .menu{
    width: 100%;
}
  ul{
    margin-top: 28px;
    margin-left: -20px;
  }   
  ul li{
      margin-left: 55px;
      font-size: 22px;
  }
  ul li a{
    text-decoration: none;
    color: #370574;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  .content{
      width: 100%;
      padding-left: 35px;
      padding-top: 100px;
  }
  .content h1, .content span{
    font-size: 6.5vw; 
}
  .content .para1{
    padding-top: 5px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1.0px;
    line-height: 30px;
    color: #370574;
    font-size: 17px;
  }
  .content .btn{
    width: 160px;
height: 40px;
background: #ad76f5;
border: none; 
margin-bottom: 10px;
margin-top: 20px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
transition: 0.4s ease;
  }
  .content a{
      font-size: 1.6vw
  }
  .frm{
  
    width: 300px;
    height: 380px;
    background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
    position: absolute;
    top: 710px;
    left: 60px;
    transfrm: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.frm input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.bttn a{
    font-size: 16px;
}
.frm .signup a{
    font-size: 16px;
}
.ftr{
  background-color: rgb(109, 84, 112);
  color: #fff;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 50px;
}
.links{
  grid-column: 7/8;
  font-size: 20px;
  grid-template-columns: repeat(7,110px);
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  cursor: pointer;
}
.fu{
  font-size: 25px;
  color: #fff;
  padding-left: 40px;
}
.sicon{
  font-size: 30px;
  display:flexbox;
  flex-flow: column;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 250px;
  color: antiquewhite;
  
  }
}

@media screen and (max-width: 760px){
  
  .icon{
  
    color:#110885;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 20px;
    float: left;
    font-weight: bolder;
    padding-top: 20px;
  }
  .main{
    padding-left: 25px;
    height: 180vh;
  }
  .navbar{
      width: 100%;
      height: 75px;
  }
  .menu{
    width: 100%;
}
  ul{
    margin-top: 28px;
    margin-left: -20px;
  }   
  ul li{
      margin-left: 55px;
      font-size: 22px;
  }
  ul li a{
    text-decoration: none;
    color: #370574;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  .content{
      width: 100%;
      padding-left: 35px;
      padding-top: 100px;
  }
  .content h1, .content span{
    font-size: 6.5vw; 
}
  .content .para1{
    padding-top: 5px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1.0px;
    line-height: 30px;
    color: #370574;
    font-size: 17px;
  }
  .content .btn{
    width: 160px;
height: 40px;
background: #ad76f5;
border: none; 
margin-bottom: 10px;
margin-top: 20px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
transition: 0.4s ease;
  }
  .content a{
      font-size: 1.6vw
  }
  .frm{
  
    width: 300px;
    height: 380px;
    background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
    position: absolute;
    top: 710px;
    left: 60px;
    transfrm: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.frm input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.bttn a{
    font-size: 16px;
}
.frm .signup a{
    font-size: 16px;
}
.ftr{
  background-color: rgb(109, 84, 112);
  color: #fff;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 50px;
}
.links{
  grid-column: 7/8;
  font-size: 20px;
  grid-template-columns: repeat(7,90px);
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  cursor: pointer;
}
.fu{
  font-size: 25px;
  color: #fff;
  padding-left: 40px;
}
.sicon{
  font-size: 30px;
  display:flexbox;
  flex-flow: column;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 250px;
  color: antiquewhite;
  
  }
}
@media screen and (max-width: 620px){
  /*IPAD*/
  
  .icon{
  
    color:#110885;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 25px;
    float: left;
    font-weight: bolder;
    padding-top: 30px;
  }
  .main{
    padding-left: 25px;
    height: 180vh;
  }
  .navbar{
      width: 100%;
      height: 75px;
  }
  .menu{
    width: 100%;
}
  ul{
    margin-top: 28px;
    margin-left: -23px;
    
  }   
  ul li{
      margin-left: 45px;
      font-size: 15px;
  }
  ul li a{
    text-decoration: none;
    color: #370574;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  .content{
      width: 100%;
      padding-left: 35px;
      padding-top: 100px;
  }
  .content h1, .content span{
    font-size: 8.5vw; 
}
  .content .para1{
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #370574;
    font-size: 23px;
  }
  .content .btn{
    width: 190px;
height: 50px;
background: #ad76f5;
border: none; 
margin-bottom: 10px;
margin-top: 5px;
font-size: 23px;
font-weight: bold;
border-radius: 10px;
cursor: pointer;
transition: 0.4s ease;
  }
  .content a{
      font-size: 1.6vw
  }
  .frm{
  
    width: 300px;
    height: 380px;
    background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
    position: absolute;
    top: 710px;
    left: 60px;
    transfrm: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.frm input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.bttn a{
    font-size: 16px;
}
.frm .signup a{
    font-size: 16px;
}
.ftr{
  height: 140px;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 50px;
}
.links{
  grid-column: 7/8;
  font-size: 20px;
  grid-template-columns: repeat(7,70px);
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  cursor: pointer;
}
.fu{
  font-size: 25px;
  color: #fff;
  padding-left: 40px;
}
.sicon{
  font-size: 30px;
  display:flexbox;
  flex-flow: column;
  cursor: pointer;
  padding-top: 40px;
  padding-left: 160px;
  color: antiquewhite;
  
  }
}
@media screen and (max-width: 450px){
  /*mobile*/
  .main{
    height: 210vh;
  }
  .logo{
      margin-left: 140px;
      font-size: 7vw;
  }
  ul{
      margin-top: 8px;
  }
  ul li {
      margin-left: 42px;
  }
  ul li a{
      font-size: 5vw;
  }  
  .content{
    margin-top: -30px;
  }
  .frm{
  
    width: 300px;
    height: 380px;
    background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
    position: absolute;
    top: 710px;
    left: 50px;
    transfrm: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.frm .para2{
  padding-bottom: 2px;
  font-family: sans-serif;
  color: #8f0a58;
  font-size: 15px;
}
.frm h2{
  width: 276px;
  font-family: sans-serif;
  text-align: center;
  color: #370574;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px; 
  margin: 2px;
  padding: 10px;
}
.frm input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.bttn{
  width: 300px;
  height: 45px;
  background: #370574;
  border: none;
  /* margin-bottom: 10px; */
  margin-top: 35px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  /* font-weight: bold; */ 

}
.bttn a{
    font-size: 16px;
}
.frm .signup a{
    font-size: 16px;
}
.ftr{
  height: 100px;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 10px;
}
.links{
  grid-column: 7/8;
  font-size: 17px;
  grid-template-columns: repeat(7,55px);
  display:grid;
  grid-auto-flow: column;
  text-align: center;
}
.fu{
  font-size: 25px;
  color: #fff;
  padding-left: 45px;
}
.sicon{
  font-size: 30px;
  display:flexbox;
  flex-flow: column;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 130px;
  color: antiquewhite;
  
  }
}
@media screen and (max-width: 390px){
  /*mobile*/
  .main{
    height: 230vh;
  }
  .logo{
      margin-left: -10px;
      font-size: 7vw;
  }
  ul{
      margin-top: 8px;
  }
  ul li {
      margin-left: 30px;
  }
  ul li a{
      font-size: 5vw;
  }  
  .content{
    margin-top: -30px;
    margin-left: -25px;
  }
  .frm{
  
    width: 300px;
    height: 380px;
    background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
    position: absolute;
    top: 710px;
    left: 15px;
    transfrm: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.frm .para2{
  padding-bottom: 2px;
  font-family: sans-serif;
  color: #8f0a58;
  font-size: 15px;
}
.frm h2{
  width: 276px;
  font-family: sans-serif;
  text-align: center;
  color: #370574;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px; 
  margin: 2px;
  padding: 10px;
}
.frm input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.bttn{
  width: 300px;
  height: 45px;
  background: #370574;
  border: none;
  /* margin-bottom: 10px; */
  margin-top: 35px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  /* font-weight: bold; */ 

}
.bttn a{
    font-size: 16px;
}
.frm .signup a{
    font-size: 16px;
}
.ftr{
  height: 100px;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 10px;
}
.links{
  grid-column: 7/8;
  font-size: 17px;
  grid-template-columns: repeat(7,45px);
  display:grid;
  grid-auto-flow: column;
  text-align: center;
}
.fu{
  font-size: 25px;
  color: #fff;
  padding-left: 45px;
}
.sicon{
  font-size: 30px;
  display:flexbox;
  flex-flow: column;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 90px;
  color: antiquewhite;
  
  }
}
@media screen and (max-width: 360px){
  .main{
    height: 230vh;
  }
  .logo{
    margin-left: -10px;
    font-size: 6vw;
}
ul{
    margin-top: 8px;
}
ul li {
    margin-left: 30px;
}
ul li a{
    font-size: 4vw;
}  
.content{
  margin-top: -30px;
  margin-left: -25px;
}
.frm{

  width: 300px;
  height: 380px;
  background: linear-gradient(to top, rgba(187, 164, 223, 0.8)50%,rgba(187, 164, 223, 0.8)50%);
  position: absolute;
  top: 710px;
  left: 4px;
  transfrm: translate(0%,-5%);
  border-radius: -10px;
  padding: 25px;
}
.frm .para2{
padding-bottom: 2px;
font-family: sans-serif;
color: #8f0a58;
font-size: 15px;
}
.frm h2{
width: 276px;
font-family: sans-serif;
text-align: center;
color: #370574;
font-size: 22px;
background-color: #fff;
border-radius: 10px; 
margin: 2px;
padding: 10px;
}
.frm input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.bttn{
width: 300px;
height: 45px;
background: #370574;
border: none;
/* margin-bottom: 10px; */
margin-top: 35px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
transition: 0.4s ease;
/* font-weight: bold; */ 

}
.bttn a{
  font-size: 16px;
}
.frm .signup a{
  font-size: 16px;
}
.ftr{
height: 100px;
padding-top: 40px;
padding-bottom: 90px;
padding-left: 10px;
}
.links{
grid-column: 7/8;
font-size: 17px;
grid-template-columns: repeat(7,40px);
display:grid;
grid-auto-flow: column;
text-align: center;
}
.fu{
font-size: 25px;
color: #fff;
padding-left: 45px;
}
.sicon{
font-size: 30px;
display:flexbox;
flex-flow: column;
cursor: pointer;
padding-top: 30px;
padding-left: 90px;
color: antiquewhite;

}
}